.git
.gitignore
.gitattributes
.mvn
target
**/.idea
**/.vscode
**/node_modules
**/dist
**/build
**/.DS_Store
.git
.gitignore
.gitattributes
.mvn
target
**/.idea
**/.vscode
**/node_modules
**/dist
**/build
**/.DS_Store